@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.woff2') format('woff2'),
       url('/fonts/fontello.woff') format('woff'),
       url('/fonts/fontello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.m-dropdown-gnav,
.m-dropdown-side {
  visibility: visible;
}
